
html {
    box-sizing: border-box;
}
/* *,
*::before,
*::after {
    box-sizing: inherit;
} */
p, h1, h2, h3, h4, ul, img, div {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-whyte-color: #ffffff;
}

body {
    font-family: var(--main-font);
    background-color: var(--primary-whyte-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    margin: 0px;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
    
}
.header-icon {
    display: inline-block;
    justify-content: flex-end;
    
}
.conteiner {
   display: flex;
   align-items: center;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px; 
   margin: 0 auto;
}
.hero {
    font-family: 'Roboto';
    padding-top: 200px;
    padding-bottom: 200px;
    /* width: 1200px; */
    margin: 0 auto;
    background: #2F303A;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img\ \(19\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    max-width: 1600px;
    max-height: 600px;
}
.title-list {
    display: flex;
}
.title-list-li::before {
    display: flex;
    content: " ";
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.title-list-li:nth-child(1)::before {
background-image: url(../images/antenna.svg);
}
.title-list-li:nth-child(2)::before {
background-image: url(../images/clock.svg);
}
.title-list-li:nth-child(3)::before {
 background-image: url(../images/diagram.svg);
}
.title-list-li:nth-child(4)::before {
background-image: url(../images/astronaut.svg);
}
.button-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.button-list {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }
.header-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    }

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    letter-spacing: 0.03em;
}
.studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: black;
    letter-spacing: 0.03em;
}
.logo {
    text-decoration: none;
    color: var(--accent-color);
}
.header-list-item {
    margin-right: 50px;
   
}
.header-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121; 
}

.header-list  {
    display: flex;
    align-items: center;
    margin-left: 93px;   
}
.header-tel,
.header-mail
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-mail {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-tel {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.mail {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 12px;
    background-size: contain;
    fill: #757575;
    fill: currentColor;
    margin-right: 10px;
    
}

.telephon {
    display: block;
    width: 10px;
    height: 16px;
    background-size: contain;
    fill: #757575;
    fill: currentColor;
    margin-right: 10px;
}
.button-contakts:hover,
.header-link:hover, 
.header-tel:hover,
.header-mail:hover,
.header-tel:focus,
.header-mail:focus
{
color: #2196F3;
}

.hero-title 
{ margin-top: 0;
margin-bottom: 0;
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: #FFFFFF;
text-transform:uppercase;
letter-spacing: 0.06em;
}
.works-list li{
    margin-right: 30px;
}
.works-list {
display: flex;
}

.works-list .item:last-child {
    margin-right: 0px;
}
.header-list-item:last-child {
    margin-right: 0px;
}
.title-list li {
    margin-right: 30px;
}
.title-list-li:last-child {
    margin-right: 0px;
}
.but-list-li li{
    margin-right: 8px;
}
.but-list:last-child {
    margin-right: 0px;
}
.conteiner-title-section {
    padding-top: 94px;
}
.conteiner-title { 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}
.btn {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
    font-family: 'Roboto';
    letter-spacing: 0.06em;
    margin-top: 30px;
    border-radius: 4px;

}
.btn:hover {
    background-color: #188CE8;
}
.feature-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    text-transform:uppercase;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}
.feature-text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
}
.works-title,
.teams-title
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.conteiner-teams-section {
    background: #F5F4FA;
}
.works-section,
.conteiner-teams-section {
   padding-top: 94px;
   padding-bottom: 94px;
}
.conteiner-works,
.conteiner-teams {
    font-family: 'Roboto';
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;   
}
.item {
font-size: 0;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-right: 30px;
}
.team {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;  
    padding-top: 30px; 
}
.team-card {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
    margin-bottom: 10px;
    text-align: center;
}
.actions-team {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.actions-team li{
    padding-right: 10px;
}
.actions-team li:nth-child(1){
    margin-left: 32px;
}
.actions-team li:nth-child(4) {
    margin-right: 32px;
    padding-right: 0;
}
.t-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #757575;
}
.t-icon-box:hover,
.t-icon-box:focus {
background-color: #2196F3;
color: #fff;
}
.team-card-prof {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    letter-spacing: 0.03em;
    text-align: center;
}
.teams-list {
    display: flex;
}
.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;
}
.clients {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.clients-list {
    display: flex;
    justify-content: center;
   
} 
.clients-list li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-list li:nth-child(1){
    padding-left: 15px;
} 

.clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    cursor: pointer;
    margin-right: 30px;
    color: #757575;
}

.button-icon-clients {   
    background-color: #fff;
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.clients-icon:hover,
.clients-icon:focus {
    color: #2196F3;
    fill: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 4px;
}
.button-icon-clients:hover,
.button-icon:hover {
    fill: #2196F3;
}

.studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: white;
    letter-spacing: 0.03em;  
}
.footer-logo {
    margin-bottom: 20px;
    display: flex;
}
.footer-social-icon {
    margin-left: 70px;
    margin-top: 12px;
}
.footer-social {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
}
.address-footer {
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;

}
.address-footer-li {
    margin-bottom: 9px;
}
.actions {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.actions li {
    padding-right: 10px;
}

.actions li:last-child {
    padding-right: 0px;
}

.icon-instagram:hover {
    fill: #fff;
}
.actions-team button:hover {
    background-color: #2196F3;
    color: #fff;
    
}
.actions button:hover {
    background-color: #2196F3;
}
.button {
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    width: 44px;
    height: 44px;
    background-position: center;
    margin-right: 10px;
    border-radius: 50%;
    flex-direction: column;
    
}
.button:hover {
    background-color: #2196F3;
  
}
.button-icon {
    fill: #AFB1B8;;
} 
.button-icon:hover,
.button-icon:focus {
   fill:  currentColor
}
.actions-team-list {
    display: flex;
    width: 270px;
}
.actions .icon-instagram {
    padding: 0;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    fill: #fff;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../images/instagram2.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center;
}
.actions .icon-twitter {
    padding: 0;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../images/twitter2.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center;
}
.actions .icon-facebook {
    padding: 0;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../images/facebook2.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center;
}
.actions .icon-linkedin {
    padding: 0;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../images/linkedin2.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    background-size: 20px 20px;
    background-position: center;
}

.mail-footer,
.tel-footer {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}
.mail-footer-li {
    margin-bottom: 9px;
}
.footer-back {
  font-style: normal; 
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
  
}
.address-footer:hover,
.mail-footer:hover,
.tel-footer:hover
 {
    color: #2196F3;
}
.but-list-li {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.but-list {
    margin: 0;
}
.but-li {
    font-family: 'Roboto';
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: #212121;
    cursor: pointer;
    background: #F5F4FA;
    letter-spacing: 0.03em;
    text-align: center; 
    border: none;
    margin: 0;
    display: inline-block;
    border-radius: 4px;
    border-color: transparent;
}
.but-li:hover {
    color: #fff;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.but-list:hover {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    
}
.portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    border: 1px solid #EEEEEE;
}
.portfolio-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;

}
.portfolio-list-li {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 0;

}
.portfolio-list-li:nth-child(3n) {
    margin-right: 0;
}
.portfolio-list-li:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.portfolio-list-li:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    letter-spacing: 0.03em;
}
.but-title {
  color: #fff;
}
.footer-conteiner {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}