
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
p, h1, h2, h3, h4, ul{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-whyte-color: #ffffff;
}

body {
    font-family: var(--main-font);
    background-color: var(--primary-whyte-color);
    color: var(--primary-text-color);
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}

.conteiner {
   display: flex;
   align-items: center;
   width: 1230px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
   outline: 1px solid red;
   justify-content: space-between;

}
.conteiner-hero {
    width: 1230px;
    margin: 0 auto;
    outline: 1px solid red;
    background: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
}
.title-list {
    display: flex;
}

.button-list {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
    padding-top: 94px;
    padding-bottom: 94px;
    }
.header-nav {
    display: flex;
    align-items: center;
    }

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    letter-spacing: 0.03em;
}
.studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: black;
    letter-spacing: 0.03em;
}
.logo {
    text-decoration: none;
    color: var(--accent-color);
}

.header-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #212121;
    
}
.header-list  {
    display: flex;
    margin-left: 93px;
}
.header-list-item {
    display: block;
    margin-right: 50px;
}


.header-nav .link {
    outline: 1px solid red;
    margin-right: 50px;
}
.header-tel,
.header-mail
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: auto;
}
.header-link:hover, 
.header-tel:hover,
.header-mail:hover
{
color: #2196F3;
}

.hero-title 
{ margin-top: 0;
margin-bottom: 0;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: #FFFFFF;
text-transform:uppercase;
letter-spacing: 0.06em;
}
.works-list li{
    margin-right: 30px;
}
.works-list {
display: flex;
}
.teams-list li{
    margin-right: 30px;
}
.works-list .item:last-child {
    margin-right: 0px;
}
.header-list-item:last-child {
    margin-right: 0px;
}
.title-list li {
    margin-right: 30px;
}
.title-list-li:last-child {
    margin-right: 0px;
}
.but-list-li li{
    margin-right: 8px;
}
.but-list:last-child {
    margin-right: 0px;
}
.conteiner-title { 
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
    font-family: 'Roboto';
    letter-spacing: 0.06em;
}
.btn:hover {
    background-color: #188CE8;
}
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    text-transform:uppercase;
    letter-spacing: 0.03em;
}
.feature-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
}
.works-title,
.teams-title
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.conteiner-works,
.conteiner-teams {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
    padding-bottom: 94px;
    
}
.conteiner-teams {
background: #F5F4FA;
}

.team-card {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;

}
.team-card-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    letter-spacing: 0.03em;
}
.teams-list {
    display: flex;
}
.studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: white;
    letter-spacing: 0.03em;
}
.address-footer {
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}
.mail-footer,
.tel-footer {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}
.footer-back {
  font-style: normal;  
}
.address-footer:hover,
.mail-footer:hover,
.tel-footer:hover
 {
    color: #2196F3;
}
.but-list-li {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.but-list {
    border-radius: 4px;
    display: inline-block;
    min-width: 145px;
    min-height: 38px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: #212121;
    letter-spacing: 0.03em; 
    color: var(--title-text-color); 
    background-color: var(--primary-whyte-color);
    text-align: center;
    border: 1px solid transparent;
}
.but-li {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: #212121;
    cursor: pointer;
    background: #F5F4FA;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px;
}
.but-li:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.but-list:hover {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    letter-spacing: 0.06em;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;

}
.portfolio-list-li {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

}
.portfolio-list-li:nth-child(3n) {
    margin-right: 0;
}
.portfolio-list-li:nth-last-child(-n + 3) {
    margin-bottom: 0;
}


.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    letter-spacing: 0.03em;
}
.but-title {
  color: #fff;
}
.footer-conteiner {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
    background: #2F303A;
}